.container
  .row
    #search-column.col-md-4
      .col-md-12
        %h2 Search Again
      = form_tag dispensaries_url, method: 'get' do
        .col-md-9
          .form-group
            = text_field_tag :search, nil, class: 'form-control', placeholder: 'search...'
        .col-md-3
          = submit_tag 'Search', class: 'btn btn-green'
    #search-results.col-md-8.padding-left.border-left
      .row
        .col-md-12
          %b
            Filter: #{link_to 'All', dispensaries_url} / #{link_to 'Recreational', dispensaries_url(filter: 'recreational')} / #{link_to 'Medical', dispensaries_url(filter: 'medical')}
          %h3
            Dispensaries matching search: "#{@search}"
      - @dispensaries.each do |d|
        .row.medium-padding-top.medium-padding-bottom.border-bottom
          .col-md-2.medium-padding-top
            = link_to image_tag("default_dispensary.png", class: 'img-responsive thumbnail'), dispensary_deals_url(d)
            %br
            %p.lead
              - if @location
                %br/
                = d.distance_to(@location).round(2)
                miles away
          .col-md-5            
            %h3
              = link_to d.name, dispensary_deals_url(d)
            %p
              = "#{d.city}, #{d.state}"
          .col-md-5.border-left
            %h3
              Top Deals
            %p
              - d.top_deals.each do |deal|
                %span.badge.badge-pink{"data-placement" => "top", "data-toggle" => "tooltip", :title => "#{deal.description}"}
                  = link_to deal.title, confirm_deal_url(deal: deal.id)
