= render '/layouts/search_bar'

.container
  .row
    .col-md-12
      %h3
        Dispensaries near:
        %span.pink
          = " #{@search}"
  .row
    - @dispensaries.each do |d|
      .col-md-3.padding-top
        .col-md-12.list-well          
          %h4
            = link_to d.name, dispensary_deals_url(d), "data-no-turbolink" => true
          %p
            = "#{d.city}, #{d.state}"
          %br          
          %center          
            - d.top_deals.first(3).each do |deal|
              %span.badge.badge-pink{"data-placement" => "top", "data-toggle" => "tooltip", :title => "#{deal.description}", "data-no-turbolink" => true}
                = link_to deal.title, confirm_deal_url(deal: deal.id)