.container
  .row.padding-bottom.border-bottom
    .col-md-3.border-right
      .col-md-4
        = image_tag(@dispensary.logo, class: 'img-responsive thumbnail') 
      .col-md-8
        %b.lead
          = @dispensary.name
        %p
          = @dispensary.full_address
    .col-md-6
      .col-md-4.medium-padding-top
        =link_to 'Edit Dispensary', edit_dispensary_url(@dispensary), class: 'btn btn-default btn-block'
      .col-md-4.medium-padding-top
        =link_to 'Manage Deals', dispensary_manage_deals_url(@dispensary), class: 'btn btn-pink btn-block'
      .col-md-4.medium-padding-top
        =link_to 'Manage Rewards', '#', class: 'btn btn-blue btn-block'      
    .col-md-3.border-left
      - if @dispensary.redemptions.present?
        %h1.green
          = number_to_currency(@dispensary.balance)
      -else
        %p.lead
          No deals made yet
  .row
    .col-md-10.col-md-offset-1
      %h2 Manage Deals
      %table.table.table-bordered
        %th{width: '10%'}
          Deals Made
        %th
          Title
        %th
          Description
        %th
          Fine Print
        %th
          Quantity
        %th
          Active?
        %th
        %th        
        %tbody
          - @deals.each do |d|
            %tr
              %td
                = @dispensary.deals_made_for(d)
              %td
                = d.title
              %td
                = d.description
              %td
                = d.fine_print
              %td
                = d.quantity_available
              %td
                = d.active
              %td
                = link_to 'Edit', edit_deal_url(d), class: 'btn btn-default', remote: true 
              %td
                = link_to 'Delete', '#', class: 'btn btn-default'              
