.container
  .row.padding-bottom.border-bottom
    .col-md-3.border-right
      = image_tag(@dispensary.logo, class: 'img-responsive thumbnail') 
      %p
        = link_to 'Edit Dispensary', '#', class: 'btn btn-default btn-xs'
        = link_to 'Manage Deals', '#', class: 'btn btn-pink btn-xs'
    .col-md-6      
      %b
        = @dispensary.name
      %p
        = @dispensary.full_address
    .col-md-3.border-left
      - if @dispensary.redemptions.present?
        %h1.green
          = number_to_currency(@dispensary.balance)
      -else
        %p.lead
          No deals made yet
  .row
    .col-md-10.col-md-offset-1
      %h2 Deals Made
      %table.table.table-bordered
        %th
          Time
        %th
          User
        %th
          Redeemed
        %th
        %tbody
