.container
  .row.padding-bottom.border-bottom
    .col-md-3.border-right
      .col-md-4
        = image_tag(@dispensary.logo, class: 'img-responsive thumbnail')
      .col-md-8
        %b.lead
          = @dispensary.name
        %p.pink
          = @dispensary.full_address
    .col-md-6
      .col-md-4.medium-padding-top
        =link_to 'Edit Dispensary', edit_dispensary_url(@dispensary), class: 'btn btn-default btn-block'
      .col-md-4.medium-padding-top
        =link_to 'Manage Deals', dispensary_manage_deals_url(@dispensary), class: 'btn btn-pink btn-block'
      .col-md-4.medium-padding-top
        =link_to 'Manage Rewards', dispensary_manage_rewards_url(@dispensary), class: 'btn btn-blue btn-block'
    .col-md-3.border-left.text-center
      %h3.no-margin-top
        Balance
      %h1.green.no-margin-top
        = number_to_currency(@dispensary.balance)
  .row
    .col-md-4.border-right
      %h2 Active Deals
      - @dispensary.deals.active.each do |d|
        .col-md-12.well
          %p
            %span.lead
              = d.title
              = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_dispensary_deal_url(@dispensary, d), class: 'pull-right'
            %br
            = d.description
            %br
            =number_to_currency(d.price)
    .col-md-6.col-md-offset-1
      %h2 Deal Purchases #{link_to 'View All', dispensary_manage_deals_url(@dispensary), class: 'btn btn-default pull-right'}
      %br
      %table.table.table-bordered
        %th
          Time
        %th
          User
        %th
          Redeemed
        %tbody
          - @dispensary.redemptions.each do |r|
            %tr
              %td{width: '15%'}
                = r.created_at.strftime("%m/%d/%y at %l:%M %p")

              %td
                = r.user.full_name
              %td
                - if r.redeemed
                  = "Redeemed at #{r.updated_at.strftime('%m/%d/%y at %l:%M %p')}"
                - else
                  = r.redeemed
