.container
  .row
    .col-md-6
      %h2 Market on the only site that pays you!
      %p.lead
        We need some copy here that describes how awesome nugdealz is for dispensaries and why they sohuld use it, etc etc.
    .col-md-6
      = form_for @dispensary_application do |f|
        .form-group.col-md-7
          = f.label :dispensary_name
          %br/
          = f.text_field :dispensary_name, class: 'form-control', placeholder: 'enter dispensary name'
        .col-md-3
          = f.label :recreational
          %br/
          = f.check_box :recreational
        .col-md-2
          = f.label :medical
          %br/
          = f.check_box :medical
        .form-group.col-md-6
          = f.label :contact_name
          %br/
          = f.text_field :contact_name, class: 'form-control', placeholder: "contact's name"
        .form-group.col-md-6
          = f.label :contact_email
          %br/
          = f.email_field :contact_email, class: 'form-control', placeholder: "contact's email"
        .form-group.col-md-12
          = f.label :phone
          %br/
          = f.text_field :phone, class: 'form-control', placeholder: 'phone number'
        .form-group.col-md-12
          = f.label :address1
          %br/
          = f.text_field :address1, class: 'form-control', placeholder: 'i.e. 420 marley st'
        .form-group.col-md-12
          = f.label :address2, "Unit Number, Suite, etc"
          %br/
          = f.text_field :address2, class: 'form-control', placeholder: 'i.e. suite j'
        .form-group.col-md-6
          = f.label :city
          %br/
          = f.text_field :city, class: 'form-control', placeholder: 'city'
        .form-group.col-md-3
          = f.label :state
          %br/
          = f.select :state, options_for_select(us_states), {}, class: 'form-control'
        .form-group.col-md-3
          = f.label :zip
          %br/
          = f.text_field :zip, class: 'form-control', placeholder: 'zip'
        .col-md-12
          = f.submit 'Submit', class: 'btn btn-block btn-pink btn-lg'
