.container
  .col-md-4
    %h2 Getting started selling with nugdealz
    %p.lead Use the form to the right to create a new dispensary. We should use this area to provide a little more information about what theyre actually doing. TBD....
  - if @da
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .col-md-4
        = devise_error_messages!
        = f.hidden_field :recreational, value: @da.recreational
        = f.hidden_field :medical, value: @da.medical
        .form-group.col-md-12
          = f.label :name, "Dispensary Name"
          %br/
          = f.text_field :name, autofocus: true, class: 'form-control', value: @da.dispensary_name, readonly: true
        .form-group.col-md-12
          = f.label :email
          %br/
          = f.email_field :email, class: 'form-control', value: @da.contact_email, readonly: true
        .form-group.col-md-12
          = f.label :address1, "Street Address"
          %br/
          = f.text_field :address1, class: 'form-control', value: @da.address1, readonly: true
        .form-group.col-md-12
          = f.label :address2, "Address 2"
          %br/
          = f.text_field :address2, class: 'form-control', value: @da.address2, readonly: true
        .form-group.col-md-8
          = f.label :city, "City"
          %br/
          = f.text_field :city, class: 'form-control', value: @da.city, readonly: true
        .form-group.col-md-4
          = f.label :state, "State"
          %br/
          = f.text_field :state, class: 'form-control', value: @da.state, readonly: true
        .form-group.col-md-12
          = f.label :zip, "Zip Code"
          %br/
          = f.text_field :zip, class: 'form-control', value: @da.zip, readonly: true
      .col-md-4
        .form-group.col-md-12
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        .form-group.col-md-12
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .col-md-12
          = f.submit "Sign up", class: 'btn btn-green'
  - else
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name, "Dispensary Name"
        %br/
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      %div= f.submit "Sign up", class: 'btn btn-green'
    = render "dispensaries/shared/links"
