.container
  .row.border-bottom.medium-padding-bottom
    .col-md-4
      %h2
        = @user.full_name
        %br/
        %small= @user.email
      = link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_user_url(@user), class: 'btn btn-xs btn-default'
    .col-md-6.border-left
      %h3 Favorite Dispensaries
      %br/
      - if @user.favorite_dispensaries.present?
        - @user.favorite_dispensaries.each do |d|
          .col-md-10
            %span.lead
              = link_to d.name, dispensary_deals_url(d)            
      - else
        %p
          %em
            You have no favorites yet, #{link_to "let's fix that!", dispensaries_url}
    .col-md-2
      %p.point-value.text-center.green
        = @user.nugdealz_points
  .row
    .col-md-12
      %h3 Recent orders
      %br/
      %table.table.table-hover
        %th
          ID
        %th
          Dispensary
        %th
          Deal
        %th
          Status
        %tbody
          - @user.redemptions.each do |r|
            %tr
              %td
                \##{r.id}
              %td
                = link_to r.dispensary.name, dispensary_deals_url(r.dispensary)
              %td
                = r.deal.description
              %td
                - if r.redeemed
                  %span.green Redeemed!
                - else
                  %span.text-danger Not Redeemed
