<div class="container">
  <div class="row border-bottom">
    <div class="col-md-4">
      <h2>
        <%= @user.full_name %><br>
        <small><%= @user.email %></small>
      </h2>
      <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_user_url(@user), class: 'btn btn-xs btn-default' %>
    </div>

    <div class="col-md-8 border-left">
      <h3>Favorite Dispensaries</h3>
      <br>
      <% if @user.favorite_dispensaries.present?  %>
        <% @user.favorite_dispensaries.each do |d| %>
        <div class="col-md-10">
          <span class='lead'>
            <%= link_to d.name, dispensary_deals_url(d) %>
          </span>
          <div class="progress">
            <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="<%= @user.loyalty_points_for(d) %>" aria-valuemin="0" aria-valuemax="420" style="width: <%= @user.point_progress_for(d) %>%">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p class='progress-bar-points'><%= @user.loyalty_points_for(d).round %> <i class='fa fa-fire'></i></p>
        </div>
        <% end %>
      <% else %>
        <p>
          <em>You have no favorite dispensaries, <%= link_to 'find one now!', dispensaries_url %></em>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Recent orders</h3>
      <br>
      <table class='table table-hover'>
        <th>
            ID
        </th>
        <th>
          Dispensary
        </th>
        <th>
          Deal
        </th>
        <th>
          Status
        </th>

        <tbody>
          <% @user.redemptions.each do |r| %>
            <tr>
              <td>
                #<%= r.id %>
              </td>
              <td>
                <%= link_to r.dispensary.name, dispensary_deals_url(r.dispensary) %>
              </td>
              <td>
                <%= r.deal.description %>
              </td>
              <td>
                <% if r.redeemed %>
                  <span class='green'>Redeemed!</span>
                <% else %>
                  <span class='text-danger'>Not Redeemed</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
