<div class='container'>
  <div class='row padding-top'>
    <div id='confirm-deal' class='col-md-6'>
      <center>
        <h2 class='pink'><%= @deal.dispensary.name %></h2>
        <p class='lead'>
          <b><%= @deal.title %></b><br>
          <%= @deal.description %>
        </p>
      <h2 class='green'>

        <%= number_to_currency(@deal.price) %>
      </h2>
      </center>


    </div>
    <div class='col-md-4 col-md-offset-1'>
      <%= link_to 'test purchase', test_purchase_url(dispensary_id: @deal.dispensary.id, deal_id: @deal.id, user_id: current_user.id), method: 'post' %>
      <%= form_tag '#' do %>
        <div class='form-group col-md-12'>
          <%= label_tag :name %><br>
          <%= text_field_tag :name, nil, class: 'form-control' %>
        </div>

        <div class='form-group col-md-12'>
          <%= label_tag :card_number %><br>
          <%= text_field_tag :card_number, nil, class: 'form-control' %>
        </div>

        <div class='form-group col-md-6'>
          <%= label_tag :exp %><br>
          <%= text_field_tag :exp, nil, class: 'form-control' %>
        </div>

        <div class='form-group col-md-6'>
          <%= label_tag :cvc %><br>
          <%= text_field_tag :cvc, nil, class: 'form-control' %>
        </div>

        <div class='col-md-12'>
          <p class='lead'>
            <strong>Total:</strong>
            <span class='pull-right pink'><%= number_to_currency(@deal.price) %></span>
          </p>
          <%= submit_tag 'Purchase Deal', class: 'btn btn-green' %>

        </div>

      <% end %>
    </div>
  </div>
</div>
