.container-fluid
  #welcome-jumbo.jumbotron
    .row
      .col-md-7.col-md-offset-4.text-left
        .col-md-12                  
          %h1
            Welcome to
            %br
            nugdealz
          %br
          %p.lead.white
            Exclusive, premium cannabis deals around you.
            %br
            Just search and start browsing.
        .col-md-3
          = select_tag :filter, options_for_select(["Recreational", "Medical"], selected: 'recreational'), class: 'form-control welcome-form'
        = form_tag dispensaries_url, method: 'get' do
          .col-md-6
            = text_field_tag :location, nil, class: 'form-control welcome-form', placeholder: 'address, city, state or zip'
            %br/
          .col-md-3
            = submit_tag 'search', class: 'btn btn-green btn-block'
%nav
  %center
    = link_to 'support', '#', class: 'gray'
    |
    \#{link_to 'dispensary application', new_dispensary_application_url, class: 'gray'}
    |
    \#{link_to 'work for nugdealz', '#', class: 'gray'}
    %br/
    %br/
    %p.white Copyright 2015 nugdealz inc
