<div class="row">
  <div class="col-md-6">
    <h2>Medical Dealz</h2>
    <% @dispensary.deals.medical.each do |deal| %>
      <div class='row border-bottom padding-top'>
        <h3 class='text-left'><%= deal.title %></h3>
        <div class='col-md-2 text-center'>
          <p><span class='point-value'><%= deal.point_value %></span>
            <br>
            points
          </p>
        </div>
        <div class='col-md-8'>
          <p class='lead'><%= deal.description %> <b>(<%= deal.quantity_available %> left)</b></p>
        </div>

        <div class='col-md-2'>
          <center>
          <%= link_to 'Redeem', confirm_deal_url(deal: deal.id), class: 'btn btn-default btn-xs' %>
        </center>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 border-left">
    <h2 class='text-right'>Recreational</h2>
    <% @dispensary.deals.recreational.each do |deal| %>
      <div class='row border-bottom padding-top'>
        <h3 class='text-right'><%= deal.title %></h3>
        <div class='col-md-2'>
          <center>
          <%= link_to 'Redeem', confirm_deal_url(deal: deal.id), class: 'btn btn-default btn-xs' %>
        </center>
        </div>
        <div class='col-md-8'>
          <p class='lead'><%= deal.description %> <b>(<%= deal.quantity_available %> left)</b></p>
        </div>
        <div class='col-md-2 text-center'>
          <p><span class='point-value'><%= deal.point_value %></span>
            <br>
            points
          </p>
        </div>

      </div>
    <% end %>
  </div>
</div>
