.row
  .col-md-8.col-md-offset-2.padding-top
    - @dispensary.deals.each do |deal|
      .row.deal-well
        .col-md-2.text-center.padding-top
          %p
            %span.point-value= deal.point_value
            %br/
            points
        .col-md-10.border-left.medium-padding-top
          =image_tag 'highlight.png', class: 'pull-right highlighter hidden'
          %b.lead
            %b= deal.title
          %p          
            = deal.description
          %p
            = link_to "#{deal.quantity_available} left", confirm_deal_url(deal: deal.id), class: 'btn btn-clear-pink'
            = link_to 'Redeem', confirm_deal_url(deal: deal.id), class: 'btn btn-green'
        
          
