<div class='container-fluid'>
	<div id='dispensary-header'>
		<div class='row'>
			<center>
				<h1 id='dispensary-title'><%= @dispensary.name %></h1>

					<address>
					  <%= @dispensary.address1 %><br>
					  <% if @dispensary.address2 %>
					  	<%= @dispensary.address2 %><br>
					  <% end %>
					  <%= @dispensary.city %>, <%= @dispensary.state %> <%= @dispensary.zip %>
					</address>

					<%= link_to 'View Deals', '#deals', class: 'btn btn-clear-white' %>

			</center>
		</div>
	</div>

</div>

<div id='deals' class='container'>
	<% if @dispensary.recreational && @dispensary.medical %>
		<%= render 'hybrid' %>
	<% else %>
		<%= render 'single' %>
	<% end %>
</div>
