#dispensary-header
  .container
    .row.medium-padding-bottom
      .col-md-12
        %h1#dispensary-title.white
          = @dispensary.name
          %address
            %small
              = @dispensary.address1
              - if @dispensary.address2.present?
                = @dispensary.address2
              = @dispensary.city
              , #{@dispensary.state} #{@dispensary.zip}
#deals.container
  - if @dispensary.recreational && @dispensary.medical
    = render 'hybrid'
  - else
    = render 'single'
