<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Deal:</strong>
  <%= @payment.deal_id %>
</p>

<p>
  <strong>Charge token:</strong>
  <%= @payment.charge_token %>
</p>

<p>
  <strong>Card last 4:</strong>
  <%= @payment.card_last_4 %>
</p>

<p>
  <strong>Card brand:</strong>
  <%= @payment.card_brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @payment.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @payment.updated_at %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
