<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span>nug</span><span>dealz</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'home', root_url %></li>
        <li><%= link_to 'how it works', how_it_works_url %></li>
      </ul>
      <%= form_tag '/dispensaries', class: 'navbar-form navbar-left', role: 'search', method: 'get' do  %>
        <div class="form-group">
          <%= text_field_tag :location, nil, class: 'form-control', placeholder: 'location' %>
          <%= text_field_tag :nav_search, nil, class: 'form-control', placeholder: 'search dispensaries' %>
          <%= submit_tag 'search', class: 'btn btn-default' %>
        </div>
      <% end %>
      <!-- <form class="navbar-form navbar-left" role="search">
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to '<i class="fa fa-exclamation-circle"></i> Need Help?'.html_safe, support_url %>
        </li>
      	<% if current_dispensary %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_dispensary.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "<i class='fa fa-tag'></i> Manage Deals".html_safe, dispensary_deals_url(current_dispensary) %></li>
            <li><%= link_to "<i class='fa fa-plus'></i> Add Deal".html_safe, new_dispensary_deal_url(current_dispensary), class: 'green' %></li>
            <li class="divider"></li>
            <li><%= link_to '<i class="fa fa-cog"></i> Settings'.html_safe, edit_dispensary_url(current_dispensary) %></li>
        	  <li><%= link_to '<i class="fa fa-sign-out"></i> Sign Out'.html_safe, destroy_dispensary_session_url, method: 'delete' %></li>
          </ul>
        </li>
        <% elsif current_user %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to '<i class="fa fa-user"></i> My Account'.html_safe, user_url(current_user) %></li>
            <li><%= link_to '<i class="fa fa-cog"></i> Settings'.html_safe, edit_user_url(current_user) %></li>
						<% if current_user.admin %>
							<li class='divider'>
							<li>
								<%= link_to '<i class="fa fa-dashboard"></i> Admin Dashboard'.html_safe, admin_dashboard_url %>
							</li>
            <li><%= link_to '<i class="fa fa-sign-out"></i> Sign Out'.html_safe, destroy_user_session_url, method: 'delete' %></li>
						<% end %>
          </ul>
          </li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class='fa fa-sign-in'></i> Sign In<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "User", new_user_session_url %></li>
            <li><%= link_to 'Dispensary', new_dispensary_session_url %></li>
          </ul>
        </li>
        <li><%= link_to '<i class="fa fa-rocket"></i> Get Started'.html_safe, get_started_url %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
